.banner {
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
      rgba(0, 208, 139, 0.527),
      rgba(29, 0, 249, 0.527)
    ),
    url(https://i.ibb.co/X46nnxg/web.jpg);
  background-position: 0px -70px;
  background-size: 800px 400px;
  border: #bbbbbb solid 1px;
  border-radius: 0.3rem;
  width: 100%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.842), 0 0 10px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 2rem 1.5rem 2rem 2.07rem;
}
.banner_special {
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
      rgba(0, 208, 139, 0.527),
      rgba(21, 0, 180, 0.896)
    ),
    url(https://i.ibb.co/yS9GZz9/123.jpg);
  background-position: 0px -160px;
  background-size: 800px 400px;
  width: 100%;
  border: #bbbbbb solid 1px;
  border-radius: 0.3rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.842), 0 0 10px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(0, 0, 0, 0.5);
  margin: 2.75rem 0 4rem;
  padding: 1.75rem 1.5rem 1.75rem 2.07rem;
}

.banner_text {
  color: rgb(255, 255, 255);
  line-height: 1.3;
  font-size: 1.2rem;
  font-weight: 500;
}

.banner_button {
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
  line-height: 1.4;
  font-size: 0.9rem;
  background: rgb(245, 255, 246);
  cursor: pointer;
  color: black;
  font-family: 700;
  border: none;
  border-radius: 0.3rem;
  z-index: 100;
}
.banner_button:hover {
  background: rgba(0, 255, 170, 0.803);
  color: rgb(0, 36, 25);
}

.banner_button_special {
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
  line-height: 1.4;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: 700;
  border: 1px solid white;
  border-radius: 0.3rem;
  z-index: 100;
}

.banner_button_special:hover {
  background: rgba(255, 255, 255, 0.95);
  color: rgb(73, 49, 255);
  border: none;
}

@media screen and(max-width: 1000px) {
  .banner {
    display: block;
  }
  .banner_text {
    line-height: 0.8;
    font-size: 0.6rem;
    font-weight: 700;
  }
  .banner_button {
    margin: 0.75rem 0 0;
  }
}
